.softkey, .context, .key, .annotate, .button {
  display: inline-block;
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none !important;
  font-style: normal !important;

  a & {
    color: inherit !important;
  }
}

.key-with-icon {
  text-transform: capitalize;

  &:before {
    margin-right: 5px;
    @extend %fa-icon;
    @extend .fas;
  }
}

  @font-face {
    font-family: 'Avolites Icons';
    font-style: normal;
    font-weight: 900;
    font-display: $fa-font-display;
    src: url('#{$avolites-font-path}/icons.eot');
    src: url('#{$avolites-font-path}/icons.woff2') format('woff2'),
    url('#{$avolites-font-path}/icons.woff') format('woff')
  }

.softkey {
  border-color: darken($colorBlue,30%);
  background: lighten($colorBlue,28%);
  color: darken($colorBlue,40%);
  border-radius: 3px;
}

.context {
  border-color: darken($colorGrey,5%);
  background: linear-gradient(darken($colorGrey,18%),darken($colorGrey,25%));
  color: white;
  border-radius: 5px;

  &.custom:before {
    @extend %fa-icon;
    @extend .fas;
    font-family: 'Avolites Icons';
    margin-right: 5px;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.plus {
    font-weight: bold;
  }

  &.i {
    padding: 3px 8px;
    border-radius: 100%;
    font-weight: bold;
    font-style: italic !important;
  }

  &.x {
    padding: 3px 15px 1px 5px;
    text-indent: -9999px;

    &:before {
      display: inline-block;
      position:absolute;
      text-indent: 9999px;
      content: fa-content($fa-var-times);
    }
  }

  &.sun:before {
    content: fa-content($fa-var-sun);
  }

  &.rubbish:before {
    content: fa-content($fa-var-trash-alt);
  }

  &.pencil:before {
    content: fa-content($fa-var-pencil-alt);
  }

  &.link:before {
    content: fa-content($fa-var-link);
  }

  &.cog:before {
    content: fa-content($fa-var-cog);
  }

  &.record:before {
    content: fa-content($fa-var-circle);
  }

  &.play:before {
    content: fa-content($fa-var-play);
  }

  &.pause:before {
    content: fa-content($fa-var-pause);
  }

  &.rewind:before {
    content: fa-content($fa-var-step-backward);
  }

  &.stop:before {
    content: fa-content($fa-var-stop);
  }

  &.select:before {
    content: fa-content($fa-var-mouse-pointer);
  }

  &.pan:before {
    content: fa-content($fa-var-hand-paper);
  }

  &.lock:before {
    content: fa-content($fa-var-lock);
  }

  &.mute:before {
    content: fa-content($fa-var-power-off);
  }

  &.lines:before {
    content: fa-content($fa-var-bars);
  }

  &.resize:before {
    content: fa-content($fa-var-expand-alt);
  }
}

.key {
  border-color: darken($colorGrey,20%);
  background: lighten(grey,45%);
  color: darken($colorGrey,60%);
  text-transform: uppercase;

  &.red {
    border-color: mix(darken($colorGrey,20%), $colorAvoRed, 70%);
    background-color: mix(lighten(grey,45%), $colorAvoRed, 99%);
    color: mix(darken($colorGrey,60%), $colorAvoRed, 15%);
  }
}

.annotate {
  padding: 1px 4px;
  border-radius: 5px;
  border-color: $colorAvoRed;
  background-color: lighten($colorAvoRed,57%);
  color: $colorAvoRed;
  font-weight: bold !important;
}

.button {
    padding: 10px;
    border-radius: 3px;
    border-color: $colorAvoRed;
    text-transform: uppercase;
    transition: all 0.3s, color 0.3s;
}
