$colorAvoRed: #ef3e46;
$colorBlue: #64b0ff;
$colorGrey: #dfe2e5;

$primary: $colorAvoRed;
$secondary: darken($colorAvoRed,14%);

$fa-font-path: "/fontawesome/webfonts";
$avolites-font-path: "/avolites-icons";
