:root{
  --ifm-color-primary-lightest: #F69196;
  --ifm-color-primary-lighter: #F2686E;
  --ifm-color-primary-light: #F15A61;
  --ifm-color-primary: #ef3e46;
  --ifm-color-primary-dark: #ED222B;
  --ifm-color-primary-darker: #EC141E;
  --ifm-color-primary-darkest: #C31018;
}
