@font-face {
    font-family: "icons";
    src: url("./icons.eot?bf8b3ead94e02bce1a315b75306fb8c3#iefix") format("embedded-opentype"),
url("./icons.woff2?bf8b3ead94e02bce1a315b75306fb8c3") format("woff2"),
url("./icons.woff?bf8b3ead94e02bce1a315b75306fb8c3") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play-from-cursor:before {
    content: "\f101";
}
