.softkey, .context, .key, .annotate {
  display: inline-block;
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none !important;
  font-style: normal !important;

  a & {
    color: inherit !important;
  }
}

.softkey {
  border-color: darken($colorBlue,30%);
  background: lighten($colorBlue,28%);
  color: darken($colorBlue,40%);
  border-radius: 3px;
}

.context {
  border-color: darken($colorGrey,5%);
  background: linear-gradient(darken($colorGrey,18%),darken($colorGrey,25%));
  color: white;
  border-radius: 5px;

  &.plus {
    font-weight: bold;
  }
}

.key {
  border-color: darken($colorGrey,20%);
  background: lighten(grey,45%);
  color: darken($colorGrey,60%);
  text-transform: uppercase;

  &.red {
    border-color: mix(darken($colorGrey,20%), $colorAvoRed, 70%);
    background-color: mix(lighten(grey,45%), $colorAvoRed, 99%);
    color: mix(darken($colorGrey,60%), $colorAvoRed, 10%);
  }
}

.annotate {
  padding: 1px 4px;
  border-radius: 5px;
  border-color: $colorAvoRed;
  background-color: lighten($colorAvoRed,57%);
  color: $colorAvoRed;
  font-weight: bold !important;
}

.button {
    padding: 10px;
    border-radius: 3px;
    border-color: $colorAvoRed;
    color: $colorAvoRed;
    text-transform: uppercase;
    transition: all 0.3s, color 0.3s;
}