footer {
  .sitemap {
    margin-top: 1em !important;
  }

  .copyright {
    align-self: center;
  }

  .copyrightImg {
    display: block;
    margin: 0em auto 0.3em !important;
    opacity: .4;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    max-width: 170px;

    &:hover {
      opacity: 1;
    }
  }
}