/* your custom css */

#results {
  position: fixed;
  background: white;
  border: 1px solid #eee;
  height: 300px;
  right: 0;
  width: 400px;
  top: 50px;
  list-style: none;
  overflow: scroll;
  display: none;
  z-index: 10000;
  padding: 0;
  box-shadow: black 7px 3px 10px;
}

#results li {
  height: 50px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

#results li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  width: 100%;
}

#results li a:hover {
  background: #eee;
}

#results .title {
  font-weight: 700;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (max-width: 1023px) {
  #results {
    width: 100%;
    top: 100px;
    height: calc(100vh - 100px);
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.container.paddingTop {
  padding-top: 20px;
}

.imageAlignTop .blockImage {
    max-width: 200px;
}

blockquote {
  background-color: rgba(100, 188, 255, 0.3);
  border-left: 8px solid #64b0ff;
}

.docsNavContainer {
  border-right: 2px solid rgb(218, 218, 218);
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}