name: Release

on:
  release:
    types:
      - created

env:
  NODE_VERSION: '10.x'

jobs:  
  app:
    name: App Build

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: |
          cd website
          npm install

      - name: Linux/Mac Build & Copy to artifacts
        if: matrix.os != 'windows-latest'
        run: |
          GH_TOKEN=${{secrets.GITHUB_TOKEN}} npm run app-build
          mkdir artifacts
          mv dist/*.zip dist/*.dmg dist/*.dmg dist/*.AppImage artifacts || true

      - name: Windows Build & Copy to artifacts
        if: matrix.os == 'windows-latest'
        run: |
          npm run app-build
          mkdir artifacts
          mv dist/*.exe dist/*.zip artifacts
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ${{matrix.os}}
          path: artifacts
          
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "artifacts/**"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}