name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  NODE_VERSION: '12.x'

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    
    - name: Install & Build
      run: |
        cd website/docusaurus-search-local
        yarn install
        yarn build
        cd ../
        npm install
        npm run build
    
    - name: Test
      run: |
        cd website
        npm run test