// include all the web styling
@import '../../build/AvoDocs/css/main';

// website variables
@import '../../scss/variables';

// import custom app styling
@import 'offline';

// 
::-webkit-scrollbar {
  //-webkit-appearance: none;
  width: 18px;
  background: rgba(0,0,0,.05);
}

::-webkit-scrollbar-thumb {
  width: 15px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

header {
  .headerTitleWithLogo {
    // remove the 'Avolites Titan Manual' in header as in title bar already
    display: none !important;
  }

  .nav-site.nav-site-internal li:not(#search) {
    // remove the header links
    display: none !important;
  }
}

.navPusher {
  // as header links removed, header is always 50ps
  padding-top: 50px !important;
}

// add more space between nav list items for ease on touch screens
li.navListItem {
  margin: 5px 0 !important;
}

.toc-headings li {
  margin: 8px 0 !important;
}

footer {
  // footer is mostly external links so hide it
  display: none;
}